<%- include("partials/header") -%>
<link rel="stylesheet" href="/css/home.css">
<section id="sec1">




    <nav class="navbar navbar-expand-lg navbar-light myBar">
        <img src="images/logo.svg" class="logo">
        <a class="navbar-brand logo" href="#"> Title</a>
        <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarNav">
          <span class="navbar-toggler-icon"></span>
      </button>


        <div class="collapse navbar-collapse text-right" id="navbarNav">
          <ul class="navbar-nav ms-auto ">
            <li class="nav-item link">
              <a href="#" class="nav-link" >Home</a>
            </li>
            <li class="nav-item dropdown link">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Shop
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">Raw Materials</a>
                  <a class="dropdown-item" href="#">Upcycled Products</a>
                  <a class="dropdown-item" href="#">Thrift Shopping</a>
                  </div>
              </li>
              <li class="nav-item dropdown link">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Sell
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">Raw Materials</a>
                  <a class="dropdown-item" href="#">Upcycled Products</a>
                  <a class="dropdown-item" href="#">Thrifting</a>
                  </div>
              </li>
            <li class="nav-item link">
              <a href="#" class="nav-link">Team</a>
            </li>

            <li class="nav-item link"><button type="button" class="btn btn-warning">SIGN IN</button></li>

          </ul>
    </nav>

   <img src="images/home-man.png" class="man-laptop" alt="">
  </section>

  <section id="sec2">
      <div class="container row middle">
          <div class="about-text col">
        <h1>ABOUT US</h1>
        <p>We wanted to create a platform that can help sustaining the environment, and encourage people that believe in doing so. We are preaching the message that every single one of you can contribute towards a better Earth, you just need the right awareness and opportunities.
            Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
        </p>
      </div>
      <div class="about-image col">
          <img src="images/home-group.png" alt="">
      </div>
    </div>

<div class="container row middle">
<h1 class="heading">WHY SHOP WITH US?</h1>

<div class="col-lg-4"> <div class="flip-card col-lg-4">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <img src="images/home-warrior.png" class="card-image" alt="Avatar" >
        <button type="button" class="btn card-name">Warrior Points</button>
      </div>
      <div class="flip-card-back">

        <p>With every purchase you make, you get 10% of the cost as Earth warrior points. After every 1000 points, you get a surprise!</p>

      </div>
    </div>
  </div></div>

<div class="col-lg-4"><div class="flip-card">
<div class="flip-card-inner">
  <div class="flip-card-front">
    <img src="images/home-plant.png" class="card-image" alt="Avatar" >
    <button type="button" class="btn card-name">Plant a tree</button>
  </div>
  <div class="flip-card-back">

    <p>After every 10 orders that you place, we plant a tree! </p>

  </div>
</div>
</div>
</div>

<div class="col-lg-4">
<div class="flip-card">
<div class="flip-card-inner">
  <div class="flip-card-front">
    <img src="images/home-leaf.png" class="card-image" alt="Avatar" >
    <button type="button" class="btn card-name">Helping nature</button>
  </div>
  <div class="flip-card-back">

    <p>With increasing purchases, the small businesses would contribute 1% of their revenues towards preserving nature.</p>

  </div>
</div>
</div></div>
<center><h1 class="heading" id="contribute-heading">HOW CAN YOU CONTRIBUTE?</h1></center>

</div>




  </section>

  <section id="sec3">
    <div class="container row contribute">
        <div class="col-lg-4 contri-card">
            <img class="contribute-image" src="images/planet-earth.png" alt="">
            <h3>Recycle</h3>
            <p>Are you looking for some raw materials? Shop from the vendors in your city and create products that help sustaining the Earth!</p>
        </div>
        <div class="col-lg-4 contri-card">
            <img class="contribute-image" src="images/price-tag.png" alt="">
            <h3>Sell</h3>
            <p>Are you a small business making things by recycling resources or do you have some extra raw material that you would like to sell for better use? We have got you!</p>
        </div>
        <div class="col-lg-4 contri-card">
            <img class="contribute-image" src="images/shopping-cart.png" alt="">
            <h3>Shop</h3>
            <p>If you love nature, you are at the right place! Shop from these businesses that create products without causing any harm to mother nature and win rewards!</p>
        </div>


        </div>
  </section>

  <div id="carouselExampleControls" class="carousel slide carousel-section" data-bs-ride="carousel">
    <h1 class="heading" id="contribute-heading">TESTIMONIALS</h1>
    <div class="carousel-inner">
      <div class="carousel-item active testimonial-card ">
        <img src="images/profile.png" class="d-block w-100" alt="...">
        <h4>Name Surname</h4>
        <p>Job title, Company</p>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
      </div>
      <div class="carousel-item testimonial-card ">
        <img src="images/profile.png" class="d-block w-100" alt="...">
        <h4>Name Surname</h4>
        <p>Job title, Company</p>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
      </div>
      <div class="carousel-item testimonial-card ">
        <img src="images/profile.png" class="d-block w-100" alt="...">
        <h4>Name Surname</h4>
        <p>Job title, Company</p>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
      </div>
    </div>
    <button class="carousel-control-prev carousel-button " type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next carousel-button" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <section >

<%-include ("partials/footer") -%>
