<%- include("partials/header") -%>
<link rel="stylesheet" href="/css/home.css">

<section id="start" class="start">

  <!-- NAVIGATION BAR -->
  <section id="navigation">
    <div class="container-fluid navigation">
      <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
        <a href="/home" class="brand-Name"> <img src="images\logo.png" alt="" class="d-inline-block logo">&nbsp;TIERRA</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav ms-auto">
            <li class="navbar-item"><a class="nav-link active" style="color:#5C8D89; font-weight: bold;" aria-current="page" href="#">HOME</a></li>
            <li class="navbar-item"> <a class="nav-link" href="/shop">SHOP</a></li>
            <li class="navbar-item"><a class="nav-link" href="/sell">SELL</a></li>
            <li class="navbar-item"><a class="nav-link" href="/ourteam">TEAM</a></li>
            <!-- <li class="navbar-item"><button type="button" class="btn btn-warning">SIGN IN</button></li> -->

          </ul>
        </div>
      </nav>
    </div>
  </section>

  <!-- TITLE SECTION -->

  <section id="titleSection">

    <div class="container shop">
      <div class="row title-row">
        <div class="col-lg-6 title-image">
          <img src="\images\home-man.png" alt="image">
        </div>
        <div class="col-lg-6 title-text">
          <h4 class="highlighted-text"></h4>
          <p></p>
        </div>
      </div>
    </div>

  </section>

 <!-- DEAL, CATEGORIES -->

 <section id="sec2">
  <div class="container row upper">
    <div class="about-text col">
  <h1>ABOUT US</h1>
  <p>We wanted to create a platform that can help sustaining the environment, and encourage people that believe in doing so. We are preaching the message that every single one of you can contribute towards a better Earth, you just need the right awareness and opportunities. Tierra is a portal for small businesses to connect with raw material providers and customers to upcycle as much materials as one can. <br><br>Beautiful left-over papers at the vendor could serve as raw materials for the handmade gifts business. Now, think of a dress maker who has leftover cloth pieces that have no use. Now, there are small businesses who make beautiful hair bands out of torn clothes. Think of how many zippers from broken/torn purses can be put to use! Another initiative to recycle materials is thrifting, which means that people can sell items they no longer need. The platform will also accommodate thrifting solutions for people who are willing to buy reusable stuff in a good condition.
  </p>
</div>
<div class="about-image col">
    <img src="images/home-group.png" alt="">
</div>
</div>

<div class="container row upper">
<h1 class="heading">WHY SHOP WITH US?</h1>

<div class="col-lg-4"><div class="flip-card">
<div class="flip-card-inner">
<div class="flip-card-front">
<img src="images/home-warrior.png" class="card-image" alt="Avatar" >
<button type="button" class="btn card-name">Warrior Points</button>
</div>
<div class="flip-card-back">

<p>With every purchase you make, you get 10% of the cost as Earth warrior points. After every 1000 points, you get a surprise!</p>

</div>
</div>
</div>
</div>

<div class="col-lg-4">
<div class="flip-card">
<div class="flip-card-inner">
<div class="flip-card-front">
<img src="images/home-leaf.png" class="card-image" alt="Avatar" >
<button type="button" class="btn card-name">Helping nature</button>
</div>
<div class="flip-card-back">

<p>With increasing purchases, the small businesses would contribute 1% of their revenues towards preserving nature.</p>

</div>
</div>
</div></div>

<div class="col-lg-4"><div class="flip-card">
  <div class="flip-card-inner">
  <div class="flip-card-front">
  <img src="images/home-plant.png" class="card-image" alt="Avatar" >
  <button type="button" class="btn card-name">Plant a tree</button>
  </div>
  <div class="flip-card-back">
  
  <p>After every 10 orders that you place, we plant a tree! </p>
  
  </div>
  </div>
  </div>
  </div>

<center><h1 class="heading" id="contribute-heading">HOW CAN YOU CONTRIBUTE?</h1></center>

</div>
   </section>

   <section id="sec3">
    <div class="container row contribute">
        <div class="col-lg-4 contri-card">
            <img class="contribute-image" src="images/planet-earth.png" alt="">
            <h3>Recycle</h3>
            <p>Are you looking for some raw materials? Shop from the vendors in your city and create products that help sustaining the Earth!</p>
        </div>
        <div class="col-lg-4 contri-card">
            <img class="contribute-image" src="images/price-tag.png" alt="">
            <h3>Sell</h3>
            <p>Are you a small business making things by recycling resources or do you have some extra raw material that you would like to sell for better use? We have got you!</p>
        </div>
        <div class="col-lg-4 contri-card">
            <img class="contribute-image" src="images/shopping-cart.png" alt="">
            <h3>Shop</h3>
            <p>If you love nature, you are at the right place! Shop from these businesses that create products without causing any harm to mother nature and win rewards!</p>
        </div>


        </div>
  </section>

</section>

<section id = "testimonials">
<div id="carouselExampleControls" class="carousel slide carousel-section" data-bs-ride="carousel">
  <h1 class="heading" id="contribute-heading">TESTIMONIALS</h1>
  <div class="carousel-inner">
    <div class="carousel-item active testimonial-card ">
      <img src="images/profile.png" class="d-block w-100" alt="...">
      <h4>Joey Tribbiani</h4>
      <p>Individual</p>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
    </div>
    <div class="carousel-item testimonial-card ">
      <img src="images/profile.png" class="d-block w-100" alt="...">
      <h4>Rachel</h4>
      <p>Handmade Cards</p>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
    </div>
    <div class="carousel-item testimonial-card ">
      <img src="images/profile.png" class="d-block w-100" alt="...">
      <h4>Esha</h4>
      <p>Esha Crafters</p>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
    </div>
  </div>
  <button class="carousel-control-prev carousel-button " type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next carousel-button" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


</section>

<%-include ("partials/footer") -%>
