<%- include("partials/header") -%>
<div class="container" style="padding-top:80px;">

    <div class="jumbotron text-center">
        <img src="images/google1.png" style="width:100px; height:100px;" alt="">
        <h2> Tierra-shop</h2>

        <p>Login or Register with google to shop:</p>

        <a href="/auth/google" class="btn btn-danger">Sign in with Google</a>

    </div>
