<%- include("partials/header") -%>
<div class="container" style="padding-top:80px;">

    <div class="jumbotron text-center">
        <img src="images/google1.png" style="width:100px; height:100px;" alt="">
        <h2> Tierra-Sell</h2>

        <p>Login or Register with google to start selling:</p>

        <a href="/auth/google-seller" class="btn btn-danger">Sign in with Google</a>

    </div>


    <%-include ("partials/footer") -%>