<%- include("partials/header") -%>

<link rel="stylesheet" href="/css/ourteam.css">
<section id="start" class="start">

  <!-- NAVIGATION BAR -->
  <section id="navigation">
    <div class="container-fluid navigation">
      <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
        <a href="#" class="brand-Name"> <img src="images\logo.png" alt="" class="d-inline-block align-text-top logo">TITLE</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav ms-auto">
            <li class="navbar-item"><a class="nav-link" href="/">HOME</a></li>
            <li class="navbar-item"> <a class="nav-link" href="/shop">SHOP</a></li>
            <li class="navbar-item"><a class="nav-link" href="/sell">SELL</a></li>
            <li class="navbar-item"><a class="nav-link active" style="color:#5C8D89; font-weight: bold;" aria-current="page" href="/ourteam">TEAM</a></li>
            <!-- <li class="navbar-item"><button type="button" class="btn btn-warning">SIGN IN</button></li> -->

          </ul>
        </div>
      </nav>
    </div>
  </section>

  <!-- TITLE SECTION -->

  <section id="titleSection">

    <div class="container shop">
      <div class="row title-row">
        <div class="col-lg-6 title-image">
          <img src="\images\teamgirl.png" alt="image">
        </div>
        <div class="col-lg-6 title-text">
          <h4 class="highlighted-text"></h4>
        </div>
      </div>
    </div>

  </section>


  <section id = "ourteam-page">
    <h1 class="heading"></h1>
    <section id="team">
      <div class="container my-3 py-5 text-center">
          <div class="row mb-5">
              <div class="col">
                  <h1>OUR TEAM</h1>
                  <p class="my-3">
                     <b> This team page has a quirky, vibrant energy that immediately catches your attention. </b>
                  </p>
              </div>
          </div>
          <div class="row">
              <div class="col-lg-4 col-md-6 pt-1">
                  <div class="card h-100">
                      <div class="card-body">
                          <img class="img-fouild rounded w-75 mb-3"
                              src="\images\shruti.g"
                              alt="Sophie">
                          <h3>Sophie Johnson</h3>
                          <h5>Software Engineer</h5>
                          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi, recusandae.</p>
                          <div class="d-flex flex-row justify-content-center">
                              <div class="p-4">
                                  <a href="#">
                                      <i class="fab fa-facebook-f"></i>
                                  </a>
                              </div>
                              <div class="p-4">
                                  <a href="#">
                                      <i class="fab fa-twitter"></i>
                                  </a>
                              </div>
                              <div class="p-4">
                                  <a href="#">
                                      <i class="fab fa-instagram"></i>
                                  </a>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 col-md-6 pt-1">
                <div class="card h-100">
                    <div class="card-body">
                        <img class="img-fouild rounded w-75 mb-3"
src="\images\shruti.png"                            alt="Sophie">
                        <h3>Sophie Johnson</h3>
                        <h5>Software Engineer</h5>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi, recusandae.</p>
                        <div class="d-flex flex-row justify-content-center">
                            <div class="p-4">
                                <a href="#">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                            </div>
                            <div class="p-4">
                                <a href="#">
                                    <i class="fab fa-twitter"></i>
                                </a>
                            </div>
                            <div class="p-4">
                                <a href="#">
                                    <i class="fab fa-instagram"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

              <div class="col-lg-4 col-md-6 pt-1">
                  <div class="card h-100">
                      <div class="card-body">
                          <img class="img-fouild rounded w-75 h-80 mb-3"
                          src="\images\shruti.jpeg"                                alt="lucy">
                          <h3>Lucy Sanchez</h3>
                          <h5>FrontEnd Developer</h5>
                          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi, recusandae.</p>
                          <div class="d-flex flex-row justify-content-center">
                              <div class="p-4">
                                  <a href="#">
                                      <i class="fab fa-facebook-f"></i>
                                  </a>
                              </div>
                              <div class="p-4">
                                  <a href="#">
                                      <i class="fab fa-twitter"></i>
                                  </a>
                              </div>
                              <div class="p-4">
                                  <a href="#">
                                      <i class="fab fa-instagram"></i>
                                  </a>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
            </div>
              <div class="row">
              <div class="col-lg-6 col-md-6 pt-1">
                  <div class="card h-100">
                      <div class="card-body">
                          <img class="img-fouild rounded w-75 mb-3"
                          src="\images\shruti.jpeg"                                alt="Brad">
                          <h3>Brad Smith</h3>
                          <h5>Scrum Master</h5>
                          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi, recusandae.</p>
                          <div class="d-flex flex-row justify-content-center">
                              <div class="p-4">
                                  <a href="#">
                                      <i class="fab fa-facebook-f"></i>
                                  </a>
                              </div>
                              <div class="p-4">
                                  <a href="#">
                                      <i class="fab fa-twitter"></i>
                                  </a>
                              </div>
                              <div class="p-4">
                                  <a href="#">
                                      <i class="fab fa-instagram"></i>
                                  </a>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>

              <div class="col-lg-6 col-md-6 pt-1">
                  <div class="card h-100">
                      <div class="card-body">
                          <img class="img-fouild rounded w-75 mb-3"
                          src="\images\shruti.jpeg"                                alt="andres">
                          <h3>Tom Rogers</h3>
                          <h5>Software Engineer</h5>
                          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi, recusandae.</p>
                          <div class="d-flex flex-row justify-content-center">
                              <div class="p-4">
                                  <a href="#">
                                      <i class="fab fa-facebook-f"></i>
                                  </a>
                              </div>
                              <div class="p-4">
                                  <a href="#">
                                      <i class="fab fa-twitter"></i>
                                  </a>
                              </div>
                              <div class="p-4">
                                  <a href="#">
                                      <i class="fab fa-instagram"></i>
                                  </a>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              </div>
          
      </div>
  </section>

  </section>
</section>


<%-include ("partials/footer") -%>
