<%- include("partials/header") -%>

<link rel="stylesheet" href="/css/ourteam.css">
<section id="start" class="start">

  <!-- NAVIGATION BAR -->
  <section id="navigation">
    <div class="container-fluid navigation">
      <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
        <a href="#" class="brand-Name"> <img src="images\logo.png" alt="" class="d-inline-block align-text-top logo">TITLE</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav ms-auto">
            <li class="navbar-item"><a class="nav-link" href="/home">HOME</a></li>
            <li class="navbar-item"> <a class="nav-link" href="#">SHOP</a></li>
            <li class="navbar-item"><a class="nav-link" href="/sell">SELL</a></li>
            <li class="navbar-item"><a class="nav-link active" style="color:#5C8D89; font-weight: bold;" aria-current="page" href="/ourteam">TEAM</a></li>
            <li class="navbar-item"><button type="button" class="btn btn-warning">SIGN IN</button></li>

          </ul>
        </div>
      </nav>
    </div>
  </section>

  <!-- TITLE SECTION -->

  <section id="titleSection">

    <div class="container shop">
      <div class="row title-row">
        <div class="col-lg-6 title-image">
          <img src="\images\teamgirl.png" alt="image">
        </div>
        <div class="col-lg-6 title-text">
          <h4 class="highlighted-text"></h4>
        </div>
      </div>
    </div>

  </section>


  <section id = "ourteam-page">
    <h1 class="heading">OUR TEAM</h1>
    <div class="row">
    <div class="col-lg-4"> <div class="flip-card col-lg-4">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img src="images/shruti.jpeg" class="card-image" alt="Avatar" >
          <button type="button" class="btn card-name">Shruti Gangwar</button>
        </div>
        <div class="flip-card-back">
  
          <p>With every purchase you make, you get 10% of the cost as Earth warrior points. After every 1000 points, you get a surprise!</p>
  
        </div>
      </div>
    </div></div>
  
    <div class="col-lg-4"> <div class="flip-card col-lg-4">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img src="images/shruti.jpeg" class="card-image" alt="Avatar" >
          <button type="button" class="btn card-name">Shruti Gangwar</button>
        </div>
        <div class="flip-card-back">
  
          <p>With every purchase you make, you get 10% of the cost as Earth warrior points. After every 1000 points, you get a surprise!</p>
  
        </div>
      </div>
    </div></div><div class="col-lg-4"> <div class="flip-card col-lg-4">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img src="images/shruti.jpeg" class="card-image" alt="Avatar" >
          <button type="button" class="btn card-name">Shruti Gangwar</button>
        </div>
        <div class="flip-card-back">
  
          <p>With every purchase you make, you get 10% of the cost as Earth warrior points. After every 1000 points, you get a surprise!</p>
  
        </div>
      </div>
    </div></div>
</div>
<div class="row">
  <div class="col-lg-4"> <div class="flip-card col-lg-4">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <img src="images/shruti.jpeg" class="card-image" alt="Avatar" >
        <button type="button" class="btn card-name">Shruti Gangwar</button>
      </div>
      <div class="flip-card-back">

        <p>With every purchase you make, you get 10% of the cost as Earth warrior points. After every 1000 points, you get a surprise!</p>

      </div>
    </div>
  </div></div>

  <div class="col-lg-4"> <div class="flip-card col-lg-4">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <img src="images/shruti.jpeg" class="card-image" alt="Avatar" >
        <button type="button" class="btn card-name">Shruti Gangwar</button>
      </div>
      <div class="flip-card-back">

        <p>With every purchase you make, you get 10% of the cost as Earth warrior points. After every 1000 points, you get a surprise!</p>

      </div>
    </div>
  </div></div><div class="col-lg-4"> <div class="flip-card col-lg-4">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <img src="images/shruti.jpeg" class="card-image" alt="Avatar" >
        <button type="button" class="btn card-name">Shruti Gangwar</button>
      </div>
      <div class="flip-card-back">

        <p>With every purchase you make, you get 10% of the cost as Earth warrior points. After every 1000 points, you get a surprise!</p>

      </div>
    </div>
  </div></div>
</div>

  </section>
</section>


<%-include ("partials/footer") -%>
