<%- include("partials/header") -%>

<link rel="stylesheet" href="/css/ourteam.css">
<section id="start" class="start">
 <!-- NAVIGATION BAR -->
 <section id="navigation">
    <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
        <div class="container-fluid navigation">
          <a href="#" class="brand-name"> <img src="images\logo.png" alt="" class="d-inline-block align-text-top logo">TITLE</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav ms-auto">
              <li class="navbar-item"><a class="nav-link" href="#">HOME</a></li>
              <li class="navbar-item"> <a class="nav-link" href="#">SHOP</a></li>
              <li class="navbar-item"><a class="nav-link" href="#">SELL</a></li>
              <li class="navbar-item selectedItem"><a class="nav-link active" style="color:#5C8D89; font-weight: bold;" href="#">TEAM</a></li>
              <li class="navbar-item"><button type="button" class="btn btn-warning">SIGN IN</button></li>

            </ul>
          </div>
        </div>

      </nav>


  </section>
  <section id="titleSection">


    </div>
  </section>
  <section id = "ourteam-page">
    <div class = "container ourteam">

      <div class="row">

        <div class="column">
          <div class="container overlayeffects">
          <img class = "imgsizing" src="images\IM3.jpeg"  style="width:100%">
          <h4 class = "name">Kajal Kukreja</h4>
          <h6 class = "quality">Quality</h6>
          <div class="overlay">
            <div class="card" style="width: 15rem; height: 15rem;">

              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.Some quick example text to build on the card title and make up the bulk of the card's content.</p>

              </div>
            </div>
          </div>
        </div></div>
        <div class="column">
          <div class="container overlayeffects">
          <img class = "imgsizing" src="images\IM3.jpeg"  style="width:100%">
          <h4 class = "name">Kajal Kukreja</h4>
          <h6 class = "quality">Quality</h6>
          <div class="overlay">
            <div class="card" style="width: 15rem; height: 15rem;">

              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.Some quick example text to build on the card title and make up the bulk of the card's content.</p>

              </div>
            </div>
          </div>
        </div></div>
        <div class="column">
          <div class="container overlayeffects">
          <img class = "imgsizing" src="images\IM3.jpeg"  style="width:100%">
          <h4 class = "name">Kajal Kukreja</h4>
          <h6 class = "quality">Quality</h6>
          <div class="overlay">
            <div class="card" style="width: 15rem; height: 15rem;">

              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.Some quick example text to build on the card title and make up the bulk of the card's content.</p>

              </div>
            </div>
          </div>
        </div></div>
         <div class="column">
          <div class="container overlayeffects">
          <img class = "imgsizing" src="images\IM3.jpeg"  style="width:100%">
          <h4 class = "name">Kajal Kukreja</h4>
          <h6 class = "quality">Quality</h6>
          <div class="overlay">
            <div class="card" style="width: 15rem; height: 15rem;">

              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.Some quick example text to build on the card title and make up the bulk of the card's content.</p>

              </div>
            </div>
          </div>
        </div></div>
         <div class="column">
          <div class="container overlayeffects">
          <img class = "imgsizing" src="images\IM3.jpeg"  style="width:100%">
          <h4 class= "name">Kajal Kukreja</h4>
          <h6 class = "quality">Quality</h6>
          <div class="overlay">
            <div class="card" style="width: 15rem; height: 15rem;">

              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.Some quick example text to build on the card title and make up the bulk of the card's content.</p>

              </div>
            </div>
          </div>
        </div>
        </div>
      </div>
  </div>

  </section>

</section>

<%-include ("partials/footer") -%>
