<%- include("partials/header") -%>
<link rel="stylesheet" href="/css/payment.css">


<!-- NAVIGATION BAR -->
<section id="navigation">
    <div class="container-fluid navigation">
      <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
        <a href="#" class="brand-Name"> <img src="images\logo.png" alt="" class="d-inline-block align-text-top logo">TITLE</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav ms-auto">
            <li class="navbar-item"><a class="nav-link" href="/home">HOME</a></li>
            <li class="navbar-item"> <a class="nav-link active" style="color:#5C8D89; font-weight: bold;" aria-current="page" href="#">SHOP</a></li>
            <li class="navbar-item"><a class="nav-link" href="/sell">SELL</a></li>
            <li class="navbar-item"><a class="nav-link" href="/ourteam">TEAM</a></li>
            <li class="navbar-item"><button type="button" class="btn btn-warning">SIGN IN</button></li>

          </ul>
        </div>
      </nav>
    </div>
  </section>

		<div class="col-md-4 container bg-default">
			
            <section id="address">
			<h4 class="my-4">
					Payment  Details
			</h4>
			
			<form>
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="name" class="form-control" id="name" placeholder="Full Name" required>
            </div>

                <div class="form-group">
					<label for="card">Card Number</label>
					<input type="text" class="form-control" id="card_number" placeholder="Card Number" required>
					<div class="invalid-feedback">
						Please enter your card number.
					</div>
				</div>

                <div class="form-row">
					<div class="col-md-6 form-group">
						<label for="date">Expiry Date</label>
						<input type="date" class="form-control" id="date" placeholder="MM/YY" required>
	
					</div>

					<div class="col-md-6 form-group">
						<label for="Code">Security Code</label>
						<input type="text" class="form-control" id="code" placeholder="Security Code" required>
						<div class="invalid-feedback">
							Valid security code is required.
						</div>
					</div>
				</div>

                </section>
                <button class="btn btn-primary bt-lg btn-block" type="submit">Pay Now</button>
			</form>
		</div>
  
</body>
</html>
