<%- include("partials/header") -%>
<link rel="stylesheet" href="/css/sell.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.3/TweenMax.min.js"></script>
<link rel="icon" href="favicon.ico">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap" rel="stylesheet">

<section id="start" class="start">

  <!-- NAVIGATION BAR -->
  <section id="navigation">
    <div class="container-fluid navigation">
      <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
        <a href="#" class="brand-Name"> <img src="images\logo.png" alt="" class="d-inline-block align-text-top logo">TITLE</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav ms-auto">
            <li class="navbar-item"><a class="nav-link" href="/home">HOME</a></li>
            <li class="navbar-item"> <a class="nav-link active" style="color:#5C8D89; font-weight: bold;" aria-current="page" href="#">SHOP</a></li>
            <li class="navbar-item"><a class="nav-link" href="/itemDetails">SELL</a></li>
            <li class="navbar-item"><a class="nav-link" href="/ourteam">TEAM</a></li>
            <li class="navbar-item"><button type="button" class="btn btn-warning">SIGN IN</button></li>

          </ul>
        </div>
      </nav>
    </div>
  </section>
  <div class="top">
    <img src="images/man.png" class="man" align="left" alt="man">
    <div class="two">
      <h2>LET'S MAKE</h2>
      <h1>Sustainability</h1>
      <h2 align="right">A HABIT</h2>
    </div>
  <br><br><br><br><br><br><br>
  <div class="three">
    <img src="images/mail.png" align="right" alt="man">
    <br><br><br><br>
    <p class="steps"><b>STEPS TO FOLLOW:</b></p>
    <div class="list">
      <ul>
      <li>Sign up to Title.com with your account</li>
      <li>Verify your email-address</li>
      <li>Complete your seller profile</li>
      <li>Add product details, product description and  images and other relevant information</li>
      <li>Click submit and you are GOOD TO GO!</li>
    </ul>
    </div>
  </div>
  </div>
  <div class="buttons">
    <button class="button button1">Become a seller</button>
    <button class="button button2">Existing seller</button>
  </div>
  <%-include ("partials/footer") -%>
