<%- include("partials/header") -%>
<%- include("partials/cursor") -%>
<link rel="stylesheet" href="/css/splashScreen.css">

<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.3/TweenMax.min.js"></script>

<section id="splash">
    <div class="container">
        <div class="content">
          <h2 class="frame-1">REDUCE</h2>
          <h2 class="frame-2">REUSE</h2>
          <h2 class="frame-3">RECYCLE</h2>
          <h2 class="frame-4">UPCYCLE</h2>
          <h2 class="frame-5">
            <span>Be the</span>
            <span>part of</span>
            <span>Solution.</span>
          </h2>
        </div>
    </div>
</section>
