<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body>
<div class="container" style="padding-top:80px;">

    <div class="jumbotron text-center">
        <img src="images/check.png" style="width:100px; height:100px;" alt="">
        <h2> Application submitted!</h2>

        <p>We have received your application. Our team will get back to you.</p>

        <a href="/home" class="btn btn-danger">Home</a>

    </div>

</div>
</body>
</html>   