<%- include("partials/header") -%>
<link rel="stylesheet" href="/css/success.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.3/TweenMax.min.js"></script>

    <section id="start" class="start">

<!-- NAVIGATION BAR -->
<section id="navigation">
  <div class="container-fluid navigation">
      <nav class="navbar navbar-expand-lg navbar-light">
        <a href="#" class="brand-Name"> <img src="images\logo.png" alt="" class="d-inline-block logo">&nbsp;TIERRA</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
              aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
              <ul class="navbar-nav ms-auto">
                  <li class="navbar-item"><a class="nav-link" href="/home">HOME</a></li>
                              <li class="navbar-item"><button type="button" class="btn btn-warning"> <%=name%></button></li>
                              <li class="navbar-item"><img src="<%=pic%>" width="40" height="40" alt=""></li>
                              <li class="navbar-item"><a href="/logout" class="btn btn-default btn-sm">Logout</a></li>
              </ul>
          </div>
      </nav>
  </div>
</section>


<!-- PAYMENT -->
<section id="payment">
  <div class="container">
      <img class="vector" src="images/payment.jpeg" alt="image">
      <h3>Your payment is Successful!</h3>
      <p>Thankyou for the payment. An automated payment reciept will be sent to your registered email.</p>

  </div>
</section>
    </section>
