<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body>
<div class="container" style="padding-top:80px;">

    <div class="jumbotron text-center">
        <img src="images/error.png" style="width:100px; height:100px;" alt="">
        <h2> OOPS!</h2>

        <p>There was an error with your submission. Please try again.</p>

        <a href="/sellerinfo" class="btn btn-danger">Try again</a>

    </div>

</div>
</body>
</html>   