body {
    background-color: #E9F3EC;
  }


/* NAVIGATION SECTION */

nav{
    padding-right: 1.5%;
  }

a{
  text-decoration: none;
  color: black;
}

a:hover{
  text-decoration: none;
  color: black;

}

  .logo{
    width: 10%;
  }

  .brand-Name{
    color: #5C8D89;
    font-size: 1.6rem;
    text-decoration: none;
    font-weight: bold;
  }

  .navbar-item{
    padding: 2px;
    font-size: 0.8rem;
  }

  .start{
    background-color: #E9F3EC;
    background-image: url("/images/Artboard.svg");
    background-repeat: no-repeat;
    padding-bottom: 3%;
  }

  .btn-warning{
    color: white;
    font-size: 0.8rem;
  }

  #address{
      background-color: #F8F9FA;
      padding: 50px;
      margin-top: 40px;
      width: 130%;

  }

  .btn-primary {
    color: #fff;
    background-color: #5C8D89;
    border-color: #5C8D89;
    margin-bottom: 80px;
    width: 130%;
}

.btn-primary:hover{
    background-color: #6fa195;
    border-color:#6fa195;
    color: black;
  }
