body{
  overflow-x: hidden;
  background-color: white;
}

.container{
  margin-left: 0;
  margin-right: 0;
}
.row{
  margin-left: 0;
  margin-right: 0;

}

/* NAVIGATION SECTION */

nav{
  padding-right: 1.5%;
}

.logo{
  width: 10%;
}

.brand-Name{
  color: #5C8D89;
  font-size: 1.6rem;
  text-decoration: none;
  font-weight: bold;
}

.navbar-item{
  padding: 2px;
  font-size: 0.8rem;
}

.start{
  background-color: #E9F3EC;
  background-image: url("/images/Artboard.svg");
  background-repeat: no-repeat;
  
}

.btn-warning{
  color: white;
  font-size: 0.8rem;
}

/* TITLE SECTION */


.title-image{
  margin-left: 0px;
  padding-left: 0;
}

.title-text{
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}
.title-text p{
  font-size: 0.9rem;
}

.highlighted-text{
  color: #5C8D89;
  font-size: 2.5rem;
  font-weight: bold;

}

/* TEAM PAGE SECTION */

.heading{
  text-align: center;
  margin-top: 40px;
  margin-left: 40px;
  font-family: Raleway;
font-weight: bold;
font-size: 26px;
letter-spacing: 3px;
  font-weight: 700;
}

#ourteam-page{
  margin: auto;
  border-radius:2%;
  overflow:hidden;
  background-color: white;
  padding-bottom: 3%;
}

  
.flip-card {

  width: 250px;
  height: 300px;
  padding:0;
  border-radius:10px;
  perspective: 1000px;
  margin: auto;
  padding-top: 40px;
  margin-bottom: 40px;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  border-radius:10px;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius:10px;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  background-color: #E9F3EC;
  color: black;

}



/* Style the back side */
.flip-card-back {

  transform: rotateY(180deg);
}


.flip-card p{
    padding-top: 50px;
}

.card-image{
    /* position: relative;
    bottom:50px;
    left:30px; */
height: 200px;
margin-top: 30px;

}
.card-name{
    width:100%;
    background-color: #5C8D89;
    border-radius: 0 0 10px 10px;
    color: white;
    margin-top:27px;
}

 /* footer */

 .footer {
  background: #000;
  color: #8a8a8a;
  font-size: 14px;
  padding: 60px 0 20px;
}

.footer p {
  color: #8a8a8a;
}

.footer h3 {
  color: #ffffff;
  margin-bottom: 20px;
}

.footer-col-1,
.footer-col-2,
.footer-col-3,
.footer-col-4 {
  min-width: 250px;
  margin-bottom: 20px;
}

.footer-col-1 {
  flex-basis: 30%;
}

.footer-col-2 {
  flex: 1;
  text-align: center;
}

.footer-col-2 img {
  width: 70px;
  margin-bottom: 20px;
}

.footer-col-3,
.footer-col-4 {
  flex-basis: 12%;
  text-align: center;
}

ul {
  list-style-type: none;
}

.app-logo {
  margin-top: 20px;
}
.app-logo img {
  width: 140px;
}

.footer hr {
  border: none;
  background: #b5b5b5;
  height: 1px;
  margin: 20px 0;
}

.copyright {
  text-align: center;
}

.menu-icon {
  width: 28px;
  margin-left: 20px;
  display: none;
}
